{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-home">
    <div class="container">
        <div class="page-header" id="home">
            <h1 class="text-center text-danger">WELCOME TO ELITE AFRIQA </h1>
            <br />
            <h2 class="text-center">
                EliteAfriqa is a passenger transportation company with its headquarters in Pretoria South Africa and has a vision of operating on all cross border routes in Southern Africa. The business is built on high quality service that is critical in setting the
                business apart. Cross border transportation is rife with corruption at international borders and transportation of illegal immigrants and goods. EliteAfriqa will stand apart by making sure that its service is 100% legal at all times. Elite
                makes use of technology and innovation to make its service as seamless as possible while seeking the maximum satisfaction for its customers. The business will continue to raise the standards in an industry that is rife with poor quality
                service.
                <br />
            </h2>
        </div>

    </div>
</div>





<div class="container-welcome">
    <div class="container">
        <div class="text-center">
            <h1>Vision</h1>
            <hr style="border-color:#930A0C; border-width: 2px" width="10%">
            <p>To operate seamlessly on all cross border routes in Southern Africa.
                <br />
            </p>


        </div>

    </div>
</div>

<div class="container-welcome">
    <div class="container">
        <div class="text-center">
            <h1>Mission</h1>
            <hr style="border-color:#930A0C; border-width: 2px" width="10%">
            <p>Offering the highest quality passenger transportation service through customer orientation, technology and innovation for the best customer experiences.
                <br />
            </p>


        </div>

    </div>
</div>

<div class="container-welcome">
    <div class="container">
        <div>
            <h1 class="text-center">Core-values</h1>
            <hr style="border-color:#930A0C; border-width: 2px" width="10%">
            <p class="text-justify">
                <ol>
                    <li><b>People</b> – EliteAfriqa exists for its customers and every detail of its business is centred on them. This is a tenet that everyone in the business has to put to heart. Drivers are trained regularly to meet this requirement and
                        any of the customers who would feel the company or its employees are not living up to the requirement would need to contact the headquarters through the number given on the website.
                        <br /></li>
                    <br>

                    <li><b>Service</b> – Quality service is an area of critical service. Customers need to feel the difference when they board EliteAfriqa Coaches. The company stands out as a centre of quality all round.
                        <br /></li>
                    <br>
                    <li><b>Safety</b> – The safety of customers is paramount in all Elite’s business activities. Coaches have to be in elite condition at all times and serviced at required intervals.
                        <br /></li>
                    <br>
                    <li><b>African</b> – EliteAfriqa is an African business that is run by Africans. It is focused on raising the standards of African businesses as well as the standards of living of all Africans.
                        <br /></li>
                    <br>

                </ol>
            </p>



        </div>

    </div>
</div>

{% endblock content %}