asgiref
branca
certifi
charset-normalizer
click
colorama
decorator
Django
django-crispy-forms
django-grappelli
django-resized
folium
future
geocoder
idna
Jinja2
MarkupSafe
numpy
Pillow
python-decouple
ratelim
requests
six
sqlparse
tzdata
urllib3
